extends layout

block head
  title= "Speech Input"
  script(src="javascripts/jquery-1.11.0.min.js", type="text/javascript", charset="utf-8")
  script(src="javascripts/speech.js", type="text/javascript", charset="utf-8")

block content
  p(id="transcript")
